* {
    box-sizing: border-box;
}

body {
    font-family: Arial;
    padding: 10px;
    background: #F1F1F1;
}

.nav-info-bar {
    overflow: hidden;
    background-color: #333;
    width: 100%;
}

.nav-info-bar * {
    font-weight: bold;
    float: left;
    display: block;
    color: #F9F9F9;
    text-align: center;
    text-decoration: none;
}

#topnav {
    position: fixed;
    top: 0;
    right: 0;
}

#footer {
    position: fixed;
    bottom: 0;
    right: 0;
}

.nav-info-bar .static-info {
    padding: 14px 16px;
}

/*.topnav a {
    padding: 14px 16px;
    padding-right: 100px;
}

.topnav a:hover {
    background-color: #DDD;
    color: black;
}*/

.column {
    float: left;
    display: table-cell;
    word-wrap: break-word;
}

.column.main {
    /*width: 75%;*/
    width: 100%;
    margin-right: 20px;
}

.column.secondary {
    width: 20%;
    margin-left: 10px;
}

.column-inside {
    padding: 20px;
    background: #FFF;
}

.column-title {
    font-size: 125%;
    font-weight: bold;
    margin-bottom: 20px;
}

.row {
    margin-top: 20px;
}

.pseudo-margin {
    margin-top: 50px;
}

.row:after {
    content: "";
    display: table;
    clear: both;

}

@media screen and (max-width: 800px) {
    .column.main {
        width: 100%;
        margin-right: 0px;
    }

    .column.secondary {
        width: 100%;
        margin-left: 0px;
    }

/*    .topnav a {
        float: none;
        width: 100%;
    }*/
}
