* {
    box-sizing: border-box;
}

body {
    font-family: Arial;
    padding: 10px;
    background-color: #F1F1F1;
}

.nav-info-bar {
    overflow: hidden;
    background-color: #333;
    width: 100%;
}

.nav-info-bar * {
    font-weight: bold;
    float: left;
    display: block;
    color: #F9F9F9;
    text-align: center;
    text-decoration: none;
}

#topnav {
    position: fixed;
    top: 0;
    right: 0;
}

#footer {
    position: fixed;
    bottom: 0;
    right: 0;
}

.nav-info-bar .static-info {
    padding: 14px 16px;
}

/*.topnav a {
    padding: 14px 16px;
    padding-right: 100px;
}

.topnav a:hover {
    background-color: #DDD;
    color: black;
}*/

.column {
    float: left;
    display: table-cell;
    word-wrap: break-word;
}

.column.main {
    width: 75%;
    padding-right: 20px;
}

.column.secondary {
    width: 25%;
}

.column-inside {
    padding: 20px;
    background: #FFF;
}

.column-title {
    font-size: 125%;
    font-weight: bold;
    margin-bottom: 20px;
}

.row {
    margin-top: 20px;
}

.pseudo-margin {
    margin-top: 50px;
}

.row:after {
    content: "";
    display: table;
    clear: both;

}

table {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}

.table-header {
    margin-top: 20px;
}

th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 15px;
}

th {
    background-color: #333;
    color: #F9F9F9;
}

td {
    font-weight: bold;
}

td.row-name {
    text-align: center;
    color: #333;
}

td.number-info {
    text-align: right;
}

td.number-info:nth-child(2) {
    background-color: #DADA00;
}

td.number-info:nth-child(3) {
    background-color: #00AF00;
}

td.number-info:nth-child(4) {
    background-color: #DD0000;
    color: #F9F9F9;
}

@media screen and (max-width: 800px) {
    .column.main {
        width: 100%;
        padding-right: 0px;
    }

    .column.secondary {
        width: 100%;
        margin-top: 20px;
    }

    table {
        margin-left: auto;
        margin-right: auto;
    }

    th, td {
        padding: 5px;
    }

/*    .topnav a {
        float: none;
        width: 100%;
    }*/
}
