<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <title>Covidômetro - Atualizações sobre COVID-19</title>

        <meta name=”robots” content=”index,follow”>
        <meta charset="utf-8">
        <meta name="description" content="Informações atualizadas sobre COVID-19 no Brasil, mesmo com as tentativas do Governo Federal (administração Bolsonaro) tenta esconder e maquiar.">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">

        <link rel="canonical" href="http://covidometro.info/" />

        <link rel="stylesheet" href="styles.css">
        <link rel="stylesheet" href="table-styles.css">

        <script type="text/javascript">
            document.addEventListener('DOMContentLoaded', function() {
                var cells = document.getElementsByClassName("data-number");

                for(var i = 0; i < cells.length; i++) {
                    var cur_value = cells[i].innerHTML;
                    var new_value = Number(cur_value).toLocaleString('pt-br');
                    cells[i].innerHTML = new_value;
                }
            }, false);
        </script>
    </head>
    <body>
        <div id="topnav" class="nav-info-bar">
            <div id="page-name" class="static-info">COVIDÔMETRO </div>

            <!-- <a href="#">Link</a>
            <a href="#">Link</a>
            <a href="#">Link</a> -->
        </div>

        <div class="pseudo-margin top"></div>

        <div class="main-content">
            <div class="column left">
                <div class="column-inside">
                    <div class="column-title">
                        Números
                    </div>

                    <div class="table">
                        <div class="table_row super_row">
                            <div class="table_small">
                                <div class="table_cell">País</div>
                                <div class="table_cell">BRASIL</div>
                            </div>
                        {%- for header_cell in header[1:] %}
                            <div class="table_small">
                                <div class="table_cell">{{ header_cell }}</div>
                            {%- if rows[0][header_cell].isdigit() %}
                                <div class="table_cell data-number">{{ rows[0][header_cell] }}</div>
                            {%- else %}
                                <div class="table_cell">{{ rows[0][header_cell] }}</div>
                            {%- endif %}
                            </div>
                        {%- endfor %}
                        </div>

                        <div class="theader">
                        {%- for header_cell in header %}
                            <div class="table_header">{{ header_cell }}</div>
                        {%- endfor %}
                        </div>

                    {%- for row in rows[1:] %}

                        <div class="table_row">
                        {%- for header_cell in header %}
                            <div class="table_small">
                                <div class="table_cell">{{ header_cell }}</div>
                            {%- if row[header_cell].isdigit() %}
                                <div class="table_cell data-number">{{ row[header_cell] }}</div>
                            {%- else %}
                                <div class="table_cell">{{ row[header_cell] }}</div>
                            {%- endif %}
                            </div>
                        {%- endfor %}
                        </div>

                    {%- endfor %}
                    </div>
                    <div id="fonte"><a href="https://docs.google.com/spreadsheets/d/1MWQE3s4ef6dxJosyqvsFaV4fDyElxnBUB6gMGvs3rEc/edit#gid=1503196283" target="_blank">Fonte</a></div>
                </div>
            </div>

            <div class="column right">
                <div class="column-inside">
                    <div id="links-confiaveis" class="column-title">
                        Links confiáveis
                    </div>

                    <ul>
                        <li class="link-list-item">
                            <a href="http://www.dadostransparentes.com.br" target="_blank" rel="noopener noreferrer">http://www.dadostransparentes.com.br</a>
                        </li>
                        <li class="link-list-item">
                            <a href="https://github.com/wcota/covid19br" target="_blank" rel="noopener noreferrer">https://github.com/wcota/covid19br</a>
                        </li>
                        <li class="link-list-item">
                            <a href="https://www.worldometers.info/coronavirus" target="_blank" rel="noopener noreferrer">https://www.worldometers.info/coronavirus</a>
                        </li>
                        <li class="link-list-item">
                            <a href="https://coronavirusbra1.github.io" target="_blank" rel="noopener noreferrer">https://coronavirusbra1.github.io</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="pseudo-margin bottom"></div>

        <div id="footer" class="nav-info-bar">
            <div id="website-version" class="static-info">v{{ version }}</div>
            <div id="contact-email" class="static-info">covidometro.info@gmail.com</div>
        </div>
    </body>
</html>