* {
    box-sizing: border-box;
}

body {
    font-family: Arial;
    padding: 10px;
    background-color: #F1F1F1;
}


/*BEGIN Navigation/information bar*/

.nav-info-bar {
    overflow: hidden;
    background-color: #333;
    width: 100%;
}

.nav-info-bar * {
    font-weight: bold;
    float: left;
    display: block;
    color: #F9F9F9;
    text-align: center;
    text-decoration: none;
}

#topnav {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

#footer {
    position: absolute;
    /*bottom: 0;*/
    left: 0;
    right: 0;
}

.nav-info-bar .static-info {
    padding: 14px 16px;
}

/*END Navigation/information bar*/


.pseudo-margin.top {
    margin-top: 50px;
}

.pseudo-margin.bottom {
    margin-top: 20px;
}


/*BEGIN main content area*/

.main-content:after {
    content: "";
    display: table;
    clear: both;

}

.column {
    float: left;
    display: table-cell;
    word-wrap: break-word;
    width: 49%;
}

.column.left {
    margin-right: 1%;
}

.column.right {
    margin-left: 1%;
}

.column-inside {
    padding: 20px;
    background: #FFF;
}

.column-title {
    font-size: 125%;
    font-weight: bold;
    margin-bottom: 20px;
}

/*END main content area*/


@media screen and (max-width: 1400px) {
    .column {
        width: 100%;
    }

    .column.left {
        margin: 0;
        margin-bottom: 5px;
    }

    .column.right {
        margin: 0;
        margin-top: 5px;
    }
}
